.container{
    margin-top: 5vh;
}

canvas{
    border: solid 1px #d5d5d5;
}


/*******************************/

.green{
    background: green;
    color: white;
}

.brow{
    background: brown;
    color: white;
}

.yellow{
    background: yellow;
    color: black;
}

.pink{
    background: deeppink;
}

.border{
    border: solid 1px black;
}

.border-blue{
    border: solid 1px blue;
}
